<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title th:text="${title}">Lista de URLs Acortadas</title>
</head>
<body class="bg-gray-50 h-screen flex flex-col">
<!-- Encabezado -->
<header class="bg-blue-800 py-6 shadow-md">
    <h1 class="text-3xl font-bold text-center text-white">CODEWEB STUDIO ACORTADOR DE LINKS</h1>
</header>

<!-- Contenido central -->
<main class="flex-grow flex flex-col items-center justify-center p-4">
    <div class="w-full max-w-3xl bg-white shadow-lg rounded-lg overflow-hidden">
        <!-- Tabla -->
        <div class="overflow-x-auto max-h-[60vh]">
            <table class="min-w-full bg-blue-50 border border-blue-200 rounded-lg">
                <thead class="bg-blue-600 text-white">
                <tr>
                    <th class="text-left py-3 px-4 font-semibold">ID</th>
                    <th class="text-left py-3 px-4 font-semibold">Código URL</th>
                    <th class="text-left py-3 px-4 font-semibold">URL Original</th>
                    <th class="text-left py-3 px-4 font-semibold">Clicks</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item: ${resourceList}" class="border-b hover:bg-blue-100">
                    <td th:text="${item.resource.id}" class="py-3 px-4 text-gray-700"></td>
                    <td th:text="${item.resource.shortUrl}" class="py-3 px-4 text-blue-800 font-semibold"></td>
                    <td th:text="${item.resource.originalUrl}" class="py-3 px-4 text-gray-700 truncate"></td>
                    <td th:text="${item.clickStatistics.clickCount}" class="py-3 px-4 text-gray-700 text-center"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>
</body>
</html>

